@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Oswald:wght@400;700&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

header .line {
  background-color: #117050;
  height: 10px;
}
.container {
  max-width: 1140px;
  margin: auto;
}
.bar {
  background-color: #006341;
  width: 168px;
  height: 22px;
}
h2 {
  font-size: 35px;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
  margin: 20px 0px;
}
.header--area {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
}
.hearder--left img {
  height: 64px;
  width: 64px;
}
.header-right {
  display: flex;
  align: center;
}
.header--search form {
  display: flex;
}
.header--search input {
  font-size: 16px;
  padding: 8px 15px;
  border: 1px solid #999;
  outline: 0;
  width: 100%;
  max-width: 250px;
}
.header--search button {
  border: 0;
  background: transparent;
  margin-left: -30px;
  cursor: pointer;
}
.header--search button img {
  width: 16px;
  height: 16px;
}
.header--menu {
  margin-left: 60px;
  cursor: pointer;
}
.header--menu img {
  width: 24px;
  height: 24px;
}
.banner {
  background-image: url("../Starbucks/imagens/bg.jpg");
  background-position: center;
  background-size: cover;
  padding-top: 90px;
  padding-bottom: 90px;
}

.banner h1 {
  font-size: 90px;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
  line-height: 90px;
  margin: 0;
  margin-bottom: 50px;
}
.banner--images img {
  width: 148px;
  height: 148px;
  border: 6px solid #117050;
  border-radius: 50%;
  margin-top: 50px;
  margin-right: 40px;
}
.button:hover {
  color: #fff;
  background-color: #454545;
}
.button {
  border: 2px solid #454545;
  display: inline-block;
  padding: 10px 30px;
  color: #454545;
  border-radius: 3px;
  text-decoration: none;
}
.area1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.area1--content {
  padding: 100px;
}
.area1--img1 {
  background-image: url("../Starbucks/imagens/f2.jpg");
  background-size: cover;
  background-position: center;
  height: 350px;
}

.area1--img2 {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  background-image: url("../Starbucks/imagens/f1.jpg");
  background-size: cover;
  background-position: center;
}
.area1--quote {
  margin-bottom: 30px;
}
.area1--text {
  margin-bottom: 40px;
  line-height: 25px;
}

.area1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.area1--content {
  padding: 100px;
}
.area1--img1 {
  background-image: url("../Starbucks/imagens/f2.jpg");
  background-size: cover;
  background-position: center;
  height: 350px;
}

.area1--img2 {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  background-image: url("../Starbucks/imagens/f1.jpg");
  background-size: cover;
  background-position: center;
}
.area1--quote {
  margin-bottom: 30px;
}
.area1--text {
  margin-bottom: 40px;
  line-height: 25px;
}

.area2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.area2--content {
  padding: 100px;
}
.area2--img1 {
  background-image: url("../Starbucks/imagens/f4.jpg");
  background-size: cover;
  background-position: center;
  height: 450px;
}

.area2--img2 {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  background-image: url("../Starbucks/imagens/f3.jpg");
  background-size: cover;
  background-position: center;
}
.area2--quote {
  margin-bottom: 30px;
}
.area2--text {
  margin-bottom: 40px;
  line-height: 25px;
}

.area3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.area3--content {
  padding: 250px 80px;
  background-image: url("../Starbucks/imagens/bg2.jpg");
  background-size: cover;
  background-position: left;
}
.area3--text {
  margin-bottom: 50px;
  line-height: 25px;
}
.area3--img {
  background-image: url("../Starbucks/imagens/f5.jpg");
  background-size: cover;
  background-position: center;
}
.area4 {
  display: grid;
  grid-template-columns: 450px 1fr;
  background-color: #e8e9ee;
}
.area4--content {
  padding: 150px 80px;
}
.area4--text {
  margin-bottom: 50px;
  line-height: 25px;
}
.area4--img {
  background-image: url("../Starbucks/imagens/bg3.jpg");
  background-position: left;
}
.area5 {
  background-image: url("../Starbucks/imagens/bg4.jpg");
  background-size: cover;
  background-position: center;
  height: 600px;
}
footer {
  background-color: #333;
  color: #fff;
  padding: 80px;
  text-align: center;
}
